USE [DZ0202]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 23.11.2025 18:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[IdPartner] [int] NULL,
	[Cost] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 23.11.2025 18:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IdType] [int] NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialsInProducts]    Script Date: 23.11.2025 18:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialsInProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProduct] [int] NULL,
	[IdMaterial] [int] NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_MaterialsInProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 23.11.2025 18:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTypePartner] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[FIODirector] [nvarchar](150) NULL,
	[Email] [nvarchar](200) NULL,
	[Number] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[INN] [nvarchar](20) NULL,
	[Rating] [float] NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23.11.2025 18:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTypeProduct] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Article] [nvarchar](50) NULL,
	[MinPriceForPartner] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestsPartners]    Script Date: 23.11.2025 18:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestsPartners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProduct] [int] NULL,
	[IdApplication] [int] NULL,
	[CountProducts] [int] NOT NULL,
 CONSTRAINT [PK_RequestsPartners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypePartners]    Script Date: 23.11.2025 18:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypePartners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NULL,
 CONSTRAINT [PK_TypePartners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeProducts]    Script Date: 23.11.2025 18:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ProductTC] [float] NOT NULL,
 CONSTRAINT [PK_TypeProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypesMaterial]    Script Date: 23.11.2025 18:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesMaterial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[PercentageLoss] [float] NOT NULL,
 CONSTRAINT [PK_TypesMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Id], [Date], [IdPartner], [Cost]) VALUES (1, NULL, 1, NULL)
INSERT [dbo].[Applications] ([Id], [Date], [IdPartner], [Cost]) VALUES (2, NULL, 2, NULL)
INSERT [dbo].[Applications] ([Id], [Date], [IdPartner], [Cost]) VALUES (3, NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([Id], [IdTypePartner], [Name], [FIODirector], [Email], [Number], [Address], [INN], [Rating]) VALUES (1, 1, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', N'9432455179
', 5)
INSERT [dbo].[Partners] ([Id], [IdTypePartner], [Name], [FIODirector], [Email], [Number], [Address], [INN], [Rating]) VALUES (2, 1, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', N'7803888520
', 3)
INSERT [dbo].[Partners] ([Id], [IdTypePartner], [Name], [FIODirector], [Email], [Number], [Address], [INN], [Rating]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', N'8430391035
', 4)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [IdTypeProduct], [Name], [Article], [MinPriceForPartner]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', N'6.54992e+006', 5100)
INSERT [dbo].[Products] ([Id], [IdTypeProduct], [Name], [Article], [MinPriceForPartner]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', N'7.01856e+006', 1880)
INSERT [dbo].[Products] ([Id], [IdTypeProduct], [Name], [Article], [MinPriceForPartner]) VALUES (3, 4, N'Бетонная плитка Белый кирпич микс 30х7,3 см', N'5.02827e+006', 2080)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestsPartners] ON 

INSERT [dbo].[RequestsPartners] ([Id], [IdProduct], [IdApplication], [CountProducts]) VALUES (2, 5, 2, 3000)
INSERT [dbo].[RequestsPartners] ([Id], [IdProduct], [IdApplication], [CountProducts]) VALUES (3, 1, 3, 1000)
INSERT [dbo].[RequestsPartners] ([Id], [IdProduct], [IdApplication], [CountProducts]) VALUES (4, 3, 4, 9500)
SET IDENTITY_INSERT [dbo].[RequestsPartners] OFF
GO
SET IDENTITY_INSERT [dbo].[TypePartners] ON 

INSERT [dbo].[TypePartners] ([Id], [Name]) VALUES (1, N'ЗАО')
INSERT [dbo].[TypePartners] ([Id], [Name]) VALUES (2, N'ООО')
INSERT [dbo].[TypePartners] ([Id], [Name]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[TypePartners] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeProducts] ON 

INSERT [dbo].[TypeProducts] ([Id], [Name], [ProductTC]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[TypeProducts] ([Id], [Name], [ProductTC]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[TypeProducts] ([Id], [Name], [ProductTC]) VALUES (3, N'Плитка', 5.25)
SET IDENTITY_INSERT [dbo].[TypeProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[TypesMaterial] ON 

INSERT [dbo].[TypesMaterial] ([Id], [Name], [PercentageLoss]) VALUES (1, N'Пластичные материалы', 0.12)
INSERT [dbo].[TypesMaterial] ([Id], [Name], [PercentageLoss]) VALUES (2, N'Добавка', 0.2)
INSERT [dbo].[TypesMaterial] ([Id], [Name], [PercentageLoss]) VALUES (3, N'Электролит', 0.15)
SET IDENTITY_INSERT [dbo].[TypesMaterial] OFF
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Partners] FOREIGN KEY([IdPartner])
REFERENCES [dbo].[Partners] ([Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Partners]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_TypesMaterial] FOREIGN KEY([IdType])
REFERENCES [dbo].[TypesMaterial] ([Id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_TypesMaterial]
GO
ALTER TABLE [dbo].[MaterialsInProducts]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsInProducts_Materials] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Materials] ([Id])
GO
ALTER TABLE [dbo].[MaterialsInProducts] CHECK CONSTRAINT [FK_MaterialsInProducts_Materials]
GO
ALTER TABLE [dbo].[MaterialsInProducts]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsInProducts_Products] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[MaterialsInProducts] CHECK CONSTRAINT [FK_MaterialsInProducts_Products]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_TypePartners] FOREIGN KEY([IdTypePartner])
REFERENCES [dbo].[TypePartners] ([Id])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_TypePartners]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_TypeProducts] FOREIGN KEY([IdTypeProduct])
REFERENCES [dbo].[TypeProducts] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_TypeProducts]
GO
ALTER TABLE [dbo].[RequestsPartners]  WITH CHECK ADD  CONSTRAINT [FK_RequestsPartners_Applications] FOREIGN KEY([IdApplication])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[RequestsPartners] CHECK CONSTRAINT [FK_RequestsPartners_Applications]
GO
ALTER TABLE [dbo].[RequestsPartners]  WITH CHECK ADD  CONSTRAINT [FK_RequestsPartners_Products] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[RequestsPartners] CHECK CONSTRAINT [FK_RequestsPartners_Products]
GO
